.row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.form-head h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-top: 24px;
}

.form-content label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}

.form-content input {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 5px;
  width: 370px;
}

.content {
  position: relative;
  margin-top: 120px;
  padding-left: 28px !important;
  padding-right: 55px !important;
}

.form-content .btn-primary {
  background: #0d28a6;
  color: #fff;
  width: 370px;
  height: 36px;
}

.banner-login{
    object-fit: cover;
}