/** @format */

.tiket-section {
  background-color: #f1f3ff;
  height: 150px;
  margin: 0 !important;
}

.header {
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

.header p {
  margin-left: 30px;
}

.header .list-menu {
  text-align: right;
}

.header .list-menu li {
  margin-right: 10px;
  list-style: none;
}

.fi-check {
  background-color: #4800ff;
  width: 17px;
  margin-top: -3px;
  margin-right: 5px;
  border-radius: 50%;
}

.header .list-menu:hover {
  background-color: #f1f3ff;
}

.content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.content-title {
  padding-left: 0 !important;
  font-size: 14px;
  font-weight: bold;
}

.content-description {
  font-size: 14px;
  color: hsl(0, 0%, 54%);
}

.content .box {
  padding: 24px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  height: auto;
}
.content .box .row {
  justify-content: space-between;
}
.content-description2 {
  color: #3c3c3c;
}

.content .box .btn-download {
  background-color: #fff;
  width: auto;
  color: #0d28a6;
  border: 1px solid #0d28a6;
}

.box-viewer {
  background: #eeeeee;
  padding: 24px;
  border: 1px dashed #d0d0d0;
  border-radius: 4px;
}

.pdf-download{
  display: none;
}

